header {
	background-color: black;
	height: 200px;
} 

header img {
	width: 40xp;
	height: 50px;
	padding: 5px;
}

header h1 {
	text-align: center; 
	color: white;
}

header a {
	text-align: right;
	text-decoration: none;
	border-radius: 5px;
	border: solid yellow 2px;
	background-color: yellow;
	padding: 4px;
}

main {
	background-color: white;
} 

main p {
	font-size: 30px;
}

main h1 {
	text-align: center;
	font-size: 60px;
	color: black;
} 

.b {
	height: 70px;
	width: 50px;
	text-align: centre;
}

footer {
	background-color: black;
}

footer a {
	color: white;
	text-decoration: none;
	padding: 0px 0px 0px 10px;
	font-size: 15px;
}
	
